@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&family=Rajdhani:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Rajdhani", sans-serif;
  background-color: #fffaf3;
  margin: 0;
  padding: 0;
}

.app-layout {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  margin: 8em 10%;
  border: 3px dotted orange;
}
