@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&family=Rajdhani:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Rajdhani", sans-serif;
  background-color: rgba(255, 233, 204, 0.13);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 15%;
  border: 3px dotted orange;
}
