.nav-container {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fffaf3;
}

.nav-mobile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.desktop-menu {
  padding: 1em 0;
  border-bottom: 2px dashed #ffedd3;
  box-shadow: 0 1px 2px 0px #ffedd3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

.desktop-menu .tab {
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 2em;
  font-weight: 600;
}

.mobile-menu {
  margin: 0 10px;
  padding: 0;
  border-radius: 0;
  font-size: 2em;
  font-weight: 600;
}

.menu-toggle {
  font-size: 2em;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  color: #ff7d03;

  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu {
  background-color: white;
  position: absolute;
  top: 40px;
  display: flex;
  flex-direction: column;
}

.tab {
  text-decoration: none;
  position: relative;
  color: #ff7d03;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.tab:hover {
  background-color: #ff7d035d;
  color: white;
  transform: scale(1.1);
}

.tab.active {
  background-color: #ff7d03;
  color: white;
  transform: scale(1.1);
}
