.color-picker-desktop {
  position: absolute;
  right: 5px;
  top: 5px;
  display: inline-block;
}

.color-picker-mobile {
  position: absolute;
  left: 5px;
  top: 5px;
  display: inline-block;
}

.nav-container {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--color-bg);
}

.nav-mobile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.desktop-menu {
  padding: 1em 0;
  border-bottom: 2px dashed var(--color-border);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  background-color: var(--color-bg);
}

.desktop-menu .tab {
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 2em;
  font-weight: 600;
  text-decoration: none;
}

.mobile-menu {
  margin: 0 10px;
  padding: 0;
  border-radius: 0;
  font-size: 2em;
  font-weight: 600;
}

.menu-toggle {
  font-size: 2em;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  color: var(--color-primary);

  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu {
  position: absolute;
  top: 40px;
  display: flex;
  flex-direction: column;
}

.tab {
  text-decoration: none;
  position: relative;
  color: var(--color-primary);
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.tab:hover {
  background-color: var(--color-hover);
  color: white;
  transform: scale(1.1);
}

.tab.active {
  background-color: var(--color-primary);
  color: white;
  transform: scale(1.1);
}
