.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: auto auto;
  min-height: 100vh;
  z-index: 10;
}

.home-content {
  display: flex;
  width: 100%;
  gap: 3em;
}

.about-me {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
}

.about-me > h1 {
  font-weight: 600;
  font-size: 60px;
  margin: 0;
  padding: 0;
}

.about-me > h4 {
  font-size: 40px;
  font-weight: normal;
  margin: 0;
}

.about-me > p {
  font-size: 24px;
  text-align: justify;
}

.more-details {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 80%;
  gap: 4em;
  align-items: stretch;
}

.nick-photo {
  min-width: 300px;
  min-height: 300px;
  background-color: var(--color-alt);
  opacity: 0.4;
  border-radius: 10px;
}

@media screen and (max-width: 1200px) {
  .more-details {
    width: 100%;
  }

  .about-me > h4 {
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 15%;
    width: 60%;
    margin: auto auto;
    min-height: 100vh;
  }

  .home-content {
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .more-details {
    flex-direction: column;
    align-items: center;
    gap: 0.2em;
  }

  .nick-photo {
    height: 180px;
    width: 180px;
  }
}
