.projects-container {
  /* background-color: yellow; */
  display: flex;
  align-self: center;
  margin-left: 10em;
  margin-top: 8em;
  width: 50vw;
  height: calc(100vh - 8em);
  overflow-y: unset;
}

.projects-list {
  /* background-color: yellow; */
  margin-left: 4em;
}
