.project-card-separator {
  margin: 16px 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    transparent 0,
    rgb(40, 54, 73) 50%,
    transparent 100%
  );
}
