@import "tailwindcss";
body {
  font-family: "Exo 2", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    sans-serif;
  font-optical-sizing: auto;
  overflow-x: hidden;
}

body p,
h1,
h2,
h3,
h4,
a {
  text-shadow: 1px 1px 6px rgb(66, 66, 66);
}

.navbar {
  position: fixed;
}
.navbar::after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: -280px;
  height: 3px;
  width: 280px;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.096) 25%,
    rgba(199, 233, 248, 0.356) 50%,
    rgba(255, 255, 255, 0.062) 75%,
    transparent 100%
  );
  animation: move-bar 18s linear infinite;
}

@keyframes move-bar {
  0% {
    left: -280px;
  }
  100% {
    left: calc(100% - 80px);
  }
}
